<!DOCTYPE html>
<html>
<body>

<h1>Voeg een nieuw adres toe</h1>
{{ form.errors }}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Opslaan</button>
</form>

{% if contextcontact %}
    <a href="{% url 'contact_detail' contextcontact.contact.id %}">Terug naar contact</a>
{% elif contact %}
    <a href="{% url 'contextcontact_create' contact.id %}">Terug naar contextcontact aanmaken</a>
{% else %}
    <a href="{% url 'address_list' %}">Terug naar adressenlijst</a>
{% endif %}
</body>
</html>