<!DOCTYPE html>
<html>
<body>

<h1>Voeg een nieuwe taakgroep toe</h1>
<p>Een taakgroep is een groep van taken die ontstaat uit het dupliceren van
    een bestaande taak op basis van een set van parameters. Een groep-id maakt
    het mogelijk om de oorspronkelijk samen aangemaakte taken terug te vinden en in
    bulk te bewerken.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Verzenden</button>
</form>

<a href="{% url 'task_list' %}">Terug naar taken</a>

</body>
</html>