<!DOCTYPE html>
<html>
<body>

<h1>Tags</h1>
<a href="{% url 'tag_create' %}">Voeg nieuwe tag toe</a>
<form method="get" action="{% url 'tag_list' %}">
    <input type="text" name="q" placeholder="Zoek tags..." value="{{ request.GET.search }}">
    <button type="submit">Zoek</button>
    <button type="reset" onclick="window.location.href='{% url 'tag_list' %}';">Reset</button>
</form>
<ul>
    {% for x in page_obj %}
        <li>{{ x.name}}
            <a href="{% url 'tag_delete' x.id %}">Verwijder</a>
            <a href="{% url 'tag_update' x.id %}">Wijzig</a>
        </li>
        {% empty %}
        <li>Geen gevonden tags</li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; eerste</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">vorige</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} van {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">volgende</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">laatste &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>